<!-- <div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">my first app</h1>
  </mat-toolbar>
  <!--Angular Material tab-->
  <!--<mat-tab-group class="parent-tab-group" animationDuration="0ms" [selectedIndex]="2">
    <mat-tab label="Aquisition">Aquisition</mat-tab>
    <mat-tab label="Retention">Retention</mat-tab>
    <mat-tab label="Development">Development</mat-tab>
  </mat-tab-group>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        <span *ngFor="let item of menu">
          <mat-list-item routerLink='{{item.route}}'>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              {{item.displayName | uppercase | newPipe}}
            </div>
          </mat-list-item>
        </span>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content> <router-outlet></router-outlet> </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- Angular Material Grid of 2 rows and 3 columns -->
  <!--<mat-grid-list cols="3" rows="2" rowHeight="155" em>
    <mat-grid-tile>
      <!--Angular Card with image content inside row1 grid-->
      <!--<mat-card class="mat-card">
        <img mat-card-image
          src="https://media.istockphoto.com/id/1460896518/photo/beautiful-middle-aged-woman.jpg?s=612x612&w=is&k=20&c=DmeQiANDoKsO9Ydjitll_nmW1cADedBFmiQa2I0H4lo=" />
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="mat-card">
        <img mat-card-image
          src="https://media.istockphoto.com/id/1403040788/photo/portrait-of-asian-girl-looking-at-camera-outdoor-focus-on-face.jpg?s=612x612&w=is&k=20&c=iMcU2avKRG9m4PTxCVYoSouzybkUhBpDmO_jsIVIGlo=" />
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="mat-card">
        <img mat-card-image
          src="https://media.istockphoto.com/id/1410538853/photo/young-man-in-the-public-park.jpg?s=612x612&w=is&k=20&c=vu0no4RcsQ6tAp5E5UHt5iz7A_nYRHaIqrh-1qygEzE=" />
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="mat-content">
        <mat-card-content>
          Christina Kosik is an awesome designer and web developer based in
          Vancouver, Canada. If you’re looking for a source of design
          inspiration, you’re in the right place. Christina’s elegant scroll
          animations and custom cursors pull you into this one-page style
          portfolio.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="mat-content"><mat-card-content>
          Michelle Ovalle is a UX and visual designer with over 10 years of
          experience in the field. Her portfolio is simple, yet effective in
          communicating what Michelle does. The portfolio is equipped with a
          project page, an about page, and a blog.
        </mat-card-content></mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="mat-content"><mat-card-content>
          Andre Givenchy does an incredible job of clearly highlighting the
          value he brings and the passion behind every project he undertakes.
          Andre provides plenty — we get to see brands he’s worked with and
          testimonials alongside case studies.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div> -->

 <!-- <input [(ngModel)]="name" (input)="name=getValue($event)">  -->
 <input [(ngModel)]="name">
<br>
Value: {{ name }}
<br>
<br>
<router-outlet></router-outlet>